body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #616161;
    color: #333;
    
}

header{
    background: #0bc7c7;
    color: white;
    text-align: center;
    padding: 15px 0;
}

main {
    width: 500px;
    margin: 20px auto;
}

section{
    margin-top: 50px;
    margin-bottom: 30px;
}

h2{
    background: #0bc7c7;
    text-align: center;
}

label, input, select, button {
    width: 150px;
    margin: 5px 0;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 20px;
    background-color: #00a9b5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #056a7c;
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #000000;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 400px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0,0.1);
}